::-webkit-scrollbar {
    width: 10px;
}
::-webkit-scrollbar-track {
    background: black; 
}
::-webkit-scrollbar-thumb {
    background: #F9D308;
    border-radius: 5px;
    border: 1px solid black;
}


/*FUENTES*/
@font-face {
    font-family: 'Merriweather';
    src: url(../fuentes/Merriweather-Regular.ttf) format('truetype');
    
    font-family: 'Grotesk';
    src: url(../fuentes/HostGrotesk-Light.ttf) format('truetype');
    
    font-family: 'Geismono';
    src: url(../fuentes/GeistMono-Regular.ttf) format('truetype');        
}
/*CONFIGURACIONES HTML*/
body {
    background: white;
}
.body_index {
    display: flex;
    flex-direction: column;
}

/*Apartado para pc*/
    /*CABECERA*/
* {
    padding: 0;
    margin: 0;
}
.cabecera {
    background: #F9D308;
}
.p_cabecera {
    display: flex;
    align-items: flex-start;
}
.logo_animado {
    height: 10vh;
    vertical-align: top;
    margin: 1vh; 
}
.bus_cabecera {
    margin-left: 120vh;
    
}
.btn_buscar_cabecera{
    background: none;
    border: none;
    margin-top: 3.5vh;
}
.img_lupa_cabecera {
    height: 50px;
    
}
.img_lupa_cabecera:hover {
    filter: drop-shadow(4px 2px 1px white);
}
.i_cabecera {
    height: 5vh;
    width: 300px;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 4vh;
    font-size: 20px;
}
.bxs-user {
    position:absolute;
    font-size: 5vh;
    margin-left: 5vh;
    margin-top: 3vh;
    border-radius: 100%;
    color: white;
    border: 2px solid black;
    background: black;
    padding: 1vh;
    text-shadow: 3px 2px 10px white;
 
    
}
#li_solomovil_principal {
    display: none;
}
.bxs-user:hover {
    color: black;
    border: 2px solid black;
    background: white;
    text-shadow: 3px 2px 10px black;
}
.bar_nav_cabecera {
    background: #333;
    color: white;
    position: relative;
}
.lis_nav_cabecera {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.lis_nav_cabecera li {
    position: relative;
}
.lis_nav_cabecera a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
.lis_nav_cabecera a:hover {
    background: #555;
}
.ico_ham {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}
.ico_ham span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

/*CUERPO PRINCIPAL*/
.main {
    min-height: 1000px;
} 
.div_img_principal {
    background: #333;
    padding: 0;
}
.img_ini_principal {
    width: 100%;
}
.div_conocenos_principal {
    background: white;
}
#p_conocenos_principal {
    font-size: 10vh;
    font-family: 'Merriweather';
    text-shadow: 1px 1px 10px black;
    text-align: center;
    background: #F9D308;
    border-bottom: 2px dashed black;
}
.div_granoarena_principal{
    padding: 5vh;
    text-align: center;
}
.div_granoarena_principal h2 {
    font-size: 70px;
    font-family:serif; 
}
#hr_granoarena_principal {
    height: 50px;
    width: 100%;
    border: none;
}
.p_granoarena_principal {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Merriweather';
    text-align: justify;
    hyphens: auto;
}
.img_granoarena_principal {
    height: 30vh;
    width: 30vh;
    margin: 50px;
}
.div_redsocial_principal {
    width: 100%;
    min-height:200px;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
}
.div_social_principal {
    border: 1px solid black;
    flex:2  0 200px;
    margin: 10px;
    margin-top: 6vh;
}
.icons_social_principal{
    font-size: 10vh;
    margin-top: 2vh;
}
.div_insta_principal {
    position: relative;
    transition: transform 0.3s ease;
}
.div_insta_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background: linear-gradient(90deg,#FFC800,#FE0C4E,#FD0188,#FC01CB,#AC07F0);
    filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.div_insta_principal:hover::before {
    opacity: 1;
}
.div_insta_principal:hover {
    transform: scale(1.05);
    border: none;
}
.div_x_principal {
    position: relative;
    transition: transform 0.3s ease;
}
.div_x_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background: linear-gradient(90deg,white,lightgray,darkgray,gray,black);
    filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.div_x_principal:hover::before {
    opacity: 1;
}
.div_x_principal:hover {
    transform: scale(1.05);
    border: none;
}
.div_face_principal {
    position: relative;
    transition: transform 0.3s ease;
}
.div_face_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background: linear-gradient(90deg,white,lightblue,blue,darkblue);
    filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.div_face_principal:hover::before {
    opacity: 1;
}
.div_face_principal:hover {
    transform: scale(1.02);
    border: none;
}
.p_social_principal {
    display:flex;
    flex-direction:row;
    
}
.a_redsocial_principal {
    margin-top: 5vh;
    color: black;
}
.a_redsocial_principal:hover {
    color: red;
}
.font_redsocial_principal {
    font-family: 'Merriweather';
    margin-top: 2vh;
}
.div_materialservicio_principal {
   height: 450px;
}
#p_servicios_principal {
    font-size: 7vh;
    font-family: 'Merriweather';
    text-shadow: 1px 1px 10px black;
    text-align: center;
    background: #F9D308;
    padding: 15px;
}
.div_servicios_principal {
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: repeat (1,1fr);
}
.img_servicios_principal {
    width: 100%;
    display: block;
}
.img_novedades_principal {
    width: 100%;
    height: 49vh;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background: url(../imagenes/Novedades.jpg);
}
.div_txtimg_principal {
    font-family: 'Merriweather';
    text-align: center;
    margin-top: 35%;
    font-size: 50px;
    color: white;
}
.div_txtimg1_principal {
    font-family: 'Merriweather';
    text-align: center;
    margin-top:5vh;
    font-size: 50px;
    color: white;
}
.img_tienda_principal {
    width: 100%;
    height: 49vh;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background: url(../imagenes/Tienda.jpg);
}
.img_viajesflete_principal {
    width: 100%;
    height: 25vh;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background: url(../imagenes/Viajes.jpg);
}
.img_rentamaquina_principal {
    width: 100%;
    height: 24vh;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: url(../imagenes/Renta.jpeg);
}
.div_promociones_principal {
    background: white;
    display: flex;
    flex-wrap: wrap;
}
.flex_promociones_principal {
    flex: 1 1 100px; 
    margin: 10px;
    
}
.img_promociones_principal {
    margin: 50px;
}
#font_promo_principal {
    font-family: 'Merriweather';
    font-size: 30px;
    text-align: center;
    
}
#p_promocionestxt_principal {
    margin:5rem;
    text-align: justify;
    font-size: 3vh;
}
.footer {
    width: 100%;
    height: 20vh;
    background: #F9D308;
}
.img_footer_principal {
    height: 19vh;
}

/*INICIO SESION*/
.div_fondo_inises {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: linear-gradient(45deg, #ff7e5f, #feb47b, #f9d308, #ff7e5f);
    background-size: 400% 400%;
    animation: gradientBackground 10s ease infinite;
    z-index: -1;
}
@keyframes gradientBackground {
    0% { background-position: 0% 50%; }
    50% { background-position: 100% 50%; }
    100% { background-position: 0% 50%; }
}
.div_contenedor_inises {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    height: 100%;
    padding: 10px;
    margin-top: 10%;
}
.btnregreso_inises {
    text-decoration: none;
    position: absolute;
    top: 10px;
    left: 10px;
    background-color: black;
    color: white;
    border: none;
    padding: 10px;
    font-size: 16px;
    cursor: pointer;
    border-radius: 5px;
    transition: background-color 0.3s ease;
}
.btnregreso_inises:hover {
    background-color: white;
    color: black;
}
.form_inises {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: rgba(255, 255, 255, 0.8);
    padding: 20px;
    border-radius: 10px;
    width: 100%;
    max-width: 380px;
    height: auto;
}
.form_inises input {
    width: 100%;
    padding: 10px;
    margin: 10px 0;
    border: 1px solid #ccc;
    border-radius: 5px;
    font-size: 16px;
    margin-bottom: 30px;
}
.form_inises a {
    text-decoration: none;
    text-align: center;
    background-color: black;
    color: white;
    border: none;
    padding: 12px;
    font-size: 16px;
    border-radius: 5px;
    cursor: pointer;
    transition: background-color 0.3s ease;
    width: 100%;
    margin-bottom: 50px ;
}
.form_inises a:hover {
    background-color: white;
    color: black;
}

/*MENU PRINCIPAL DEL PUNTO DE VENTA*/
.div_perfpc_pventa {
    position: fixed;
    background: #333;
    width: 30%;
    min-height: 700px;
    text-align: center;
    padding-top: 30px;
}
#p_perfbienv_pventa {
    font-family: 'Merriweather';
    font-size: 1em;
    margin-bottom: 10px;
}
#img_perfil_pventa {
    border: 1px solid white;
    height: 200px;  
    width: 200px;
    
}
.div_cuerpoprin_pventa {
    width: 70%;
    background: white;
    color: black;
    height: 100%;
    float: right;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
}
#h1_menuadmin_pventa {
    text-align: center;
    height: 60px;
    font-size: 3rem;
    background: #F9D308;
    color: black;
    font-family: 'Merriweather';
}
.div_btns_pventa {
    flex: 1 1 200px;
    height: auto;
    border: 1px solid black;
    background: white;
    display: flex;
    flex-direction: row;
    align-content: center;
    padding-top: 3vh;
    padding-bottom: 3vh;
}
#icon_venta_pventa {
    font-size: 30vh;
    margin: -5px;
    background: linear-gradient(90deg, #F9D308,#e8c209,#d3b108,#d3b108,#e8c209,#F9D308);
    -webkit-background-clip: text;
    -webkit-text-fill-color: transparent;
    animation: animacion_iconos 10s infinite;
    background-size: 300%;
}
@keyframes animacion_iconos {
      0% {
        background-position: 0% 50%;
      }
      50% {
        background-position: 100% 50%;
      }
      100% {
        background-position: 0% 50%;
      }
}
.font_btns_pventa {
    font-size: 4vh;
    font-family: fantasy;
    align-content: center;
    margin-right: 10px;
    max-width: 160px;
}
.p_btns_pvetna {
    flex-wrap: wrap;
    padding: 2vh;
    background: whitesmoke;
    font-size: 1rem;
    border-radius: 50px;
    text-align: justify;
    padding: 30px;
}
#input_cargarimagen_pventa {
    display: none;
}
#icon_photo_pventa {
    font-size: 10vh;
    color: #ffcc00;

}
.lbl_clas_pventa {
    font-size: 4vh;
}
.input_clas_pventa {
    height: 40px;
    font-size: 30px;
}
.btn_cerrses_pventa {
    position: absolute;
    left: 50px;
    bottom: 50px;
     outline: 0;
    border: 0;
    display: flex;
    flex-direction: column;
    width: 100%;
    max-width: 140px;
    height: 50px;
    border-radius: 0.5em;
    box-shadow: 0 0 0.625em 0 #ffcc00;
    overflow: hidden;
}
.btn_cerrses_pventa div{
    transform: translateY(0px);
    width: 100%;
}
.btn_cerrses_pventa,
.btn_cerrses_pventa div{
    transition: 0.6s cubic-bezier(.16,1,.3,1);
}
.btn_cerrses_pventa div span{
    display: flex;
    align-items: center;
    justify-content: space-between;
    height: 50px;
    padding: 0em 1.125em; 
}
.btn_cerrses_pventa div:nth-child(1){
    background-color: #F1CB08;
}
.btn_cerrses_pventa div:nth-child(2){
    background-color: red;
}
.btn_cerrses_pventa:hover {
    box-shadow: .055em 0.625em 1em red;
}
.btn_cerrses_pventa:hover div {
    transform: translateY(-50px);
}
.btn_cerrses_pventa p {
    font-size: 17px;
    font-weight: bold;
    color: #ffffff; 
}
.btn_cerrses_pventa:active {
    transform: scale(.95);
}
.btn_cerrarses_movil_pventa {
    display: none;
}
    /*COSAS DE CELULAR*/
.div_contham_venta {
    background: #333;
    color: white;
    position: relative;
    width: 100%;
}
.ico_ham_pventa {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}
.ico_ham_pventa span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}
#icon_usuario_menupventa {
    font-size: 30px;
}

/*APARTADO DE VENTAS*/
.main_ventas {
    width: 100%;
    height: auto;    

}

.div_cuerpoprin_ventas {
    /*background: #F9D308;*/
    background: white;
    float: right;
    width: 80%;
    color: black;
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}
.div_princont_ventas {
    flex: 1;
    border: 1px solid black;
    display: flex;
    flex-direction: column;
}
.h1_prinnombre_ventas {
    font-family: monospace;
    text-align: center;
    font-size: 5vh;
    border-bottom: 3px solid black;
}
.div_prin_tablaprod_ventas {
    border: 2px solid black;
    flex: 2 0 60vh;
    padding-left: 2vh;
    padding-right: 2vh;

}
.div_tablaprod_ctroverflow_ventas {
    border: 3px solid;
    height: 300px;
    margin-top: 5vh;
    overflow-y: auto;
    background: #ffcc00;
}
.table_tablaprod_ventas {
    width: 100%;
    background: white;
    font-family: 'Merriweather';
    border-collapse: collapse;
    
}
.td_codigo_ventas {
    width: 5%;
    text-align: center;
    background: #6e6e6e;
    
}
.div_radio_input_ventas {
    display: flex;
    align-items: center;
    justify-content: center;
    margin-left: 1vh;
    margin-right: -1vh;
}
.input_radio_codigo_ventas {
    appearance: none;
    width: 2em;
    height: 2em;
    background-color: black;
    border-radius: 50%;
    transition: .4s ease-in-out;
}
.input_radio_codigo_ventas:hover {
    scale: 1.2;
    cursor: pointer;
    box-shadow: none;
}
.circle {
    position: relative;
    top: 0.01em;
    left: -1em;
    width: 0.6em;
    height: 0.6em;
    background-color: yellow;
    scale: 0;
    border-radius: 10px;
    transition: .4s ease-in-out;
    border: 1px solid black;
}
.input_radio_codigo_ventas:checked {
    box-shadow: none;
    border: 2px solid yellow;
}
.input_radio_codigo_ventas:checked + .circle {
    transform: rotate(360deg);
    scale: 1;
}
.table_tablaprod_ventas thead tr th {
    border: 2px solid black;
    background: lightgray;
}
.table_tablaprod_ventas tbody tr td {
    border: 2px solid black;
    height: 5vh;
    font-size: 3vh;
}

.div_prin_dtcarro_ventas {
    border: 3px solid black;
    flex: 1 1 30vh;
    padding-left: 2vh;
    padding-right: 2vh;
}
.div_carrosinputs_ventas {
    display: flex;
    flex-direction: column;
    gap:30px;
}
.div_carrosinputs_ventas label {
    font-size: 4vh;
    font-family: 'Grotesk';
}
.div_carrosinputs_1_ventas {
    margin-top: 2%;
    flex: 1;
    flex-direction: row;
    align-content: center;
}
.div_carrosinputs_1_ventas input[type="text"] {
    height: auto;
    width: 30vh;
    font-size: 5vh;
    margin-left: 5%;
    
}
.div_carrosinputs_2_ventas {
    flex: 1;
    display: flex;
    flex-wrap: wrap;    
    flex-direction: row;
    gap:10px;
    
}
.div_carrosinputs_2_ventas input[type="text"]{
    height: auto;
    width: 30vh;
    font-size: 5vh;
    margin-top: 10px;
}
.div_carrosinputs_2_ventas input[type="color"] {
    height: auto;
    width: 10vh;
    margin-top: 10px;
}
.div_carrosinputs_2_ventas label {
    margin-top: 2%;
}
.div_prin_dona_ventas {
    flex: 1 1 20vh;
    background: white;
    padding-left: 2vh;
    padding-right: 2vh;
    border: 2px solid black;
}
.div_prindonaci_ventas {
    background: white;
}
.div_donainputs_ventas {
    display: flex;
    flex-direction: column;
}
.div_inputsradio_sn_ventas {
    flex 1;
    display: flex;
    flex-direction: row;
    border-bottom: 1px solid white;
    align-items: center;
}
.p_radiobutton_cont_ventas {
    flex: 1 1;
    width: 50%;
    font-size: 5vh;
    font-family: 'Grotesk';
    text-align: center;
}
.input_radio_dona_ventas {
    scale:1.5;
}
#id_inputsdesacdona_ventas {
    display: flex;
    flex-direction: row;    
}
.div_inputsdesac_cantidad_ventas {
    text-align: center;
    align-content: center;
    border-bottom: 3px solid black;

    width: 100%;
}
.lbl_inputsdesac_cant_ventas {
    font-size: 5vh;
}
.input_disableddona_ventas {
    font-size: 5vh;
    width: 20vh;
}

.div_prin_cantflet_ventas {
    flex: .5;
    display: flex;
    flex-direction: row;
    border: 1px solid black;
    
}
.div_prin_cantflet_ventas div {
    width: 50%; 
    border-right: 2px solid black;
}
.div_prin_cantflet_ventas div p {
    padding: 5vh;
}
.div_prin_cantflet_ventas div label {
    font-size: 3rem;
    flex-wrap: wrap;
}
.input_metroscant_ventas {
    border-top-left-radius: 20px;
    border-top-right-radius: 20px;
    border-bottom: 4px solid lightgray;
    width: 40%;
    font-size: 4rem;
    margin-right:5vh;
}
.p_fletesSN_ventas {
    align-content: center;
    text-align: center;
}
.input_radio_fleteSN_ventas {
    scale:2;
}
.div_prin_total_ventas {
    flex: 1;
    padding: 10px;
    border-right: 2px solid black;
}

.div_prin_total_ventas p {
    font-size: 3rem;
}
#btn_ticket_ventas {
    float: right;
    width: 80%;
    height: 50px;
    background: #ffcc00;
    color: #fff;
    border-radius: 20px;
    border: none;
    outline: none;
    cursor: pointer;
    position: relative;
    box-shadow: 0 15px 30px rgba(0, 0, 0, 0.5);
    overflow: hidden;
    transition: background-color 1.5s ease;
 
}
#btn_ticket_ventas span {
    font-size: 12px;
    text-transform: uppercase;
    letter-spacing: 1px;
    transition: top 0.5s;
}
.span_btn_ticket1_ventas {
    position: absolute;
    width: 100%;
    top: 50%;
    left: 0;
    transform: translateY(-50%);
}
.span_btn_ticket2_ventas {
    position: absolute;
    width: 100%;
    top: 150%;
    left: 0;
    transform: translateY(-50%);
}
#btn_ticket_ventas:hover {
    background: red;
}
#btn_ticket_ventas:hover .span_btn_ticket1_ventas {
    top: -100%;
}
#btn_ticket_ventas:hover .span_btn_ticket2_ventas {
    top: 50%;
}

/*GESTION DE USUARIOS*/
.div_cuerpoprin_gestion_usuarios {
    width: 80%;
    float: right;
    background: white;
    display: flex;
    flex-direction: column;
    flex-wrap: wrap;
    
}
.div_cuerpoprin_gestion_usuarios div {
    margin: 2%;
}
.div_prin_busqueda_gestion_usuarios span {
    font-size: 3vh;
    font-family: 'Geismono';
}
.div_prin_busqueda_gestion_usuarios input[type="text"] {
    font-family: 'Merriweather';
    font-size: 3vh;
}
.div_prin_busqueda_gestion_usuarios{
    flex: 1 1 10vh;

    border-bottom: 3px solid black;
    align-content: center;
    
}
.div_prin_tabla_gestion_usuarios {
    flex: 1 1 55vh;
    background: white;
}
.div_prin_tablaoverflow_gestion_usuarios {
    border: 1px solid black;
    padding: 0;
    height: 100%;
    max-height: 50vh;
    overflow-y: auto;
    background: lightgray;
}
.table_gestion_usuarios {
    width: 100%;
    background: white;
    border-collapse: collapse;
}
.table_gestion_usuarios th {
    border:3px solid black;
    color: white;
    background: black;
    font-size: 1.2rem;
}
.table_gestion_usuarios td {
    border:3px solid black;
    font-size: 5vh;
    
}
#id_gest_usuario {
    width: 5%;
}

.div_prin_anadusu_gestion_usuarios {
    flex: 1 1;
}
.btn_anadusu_gestion_usuarios {
    width: 40%;
    cursor: pointer;
    position: relative;
    padding: 10px 24px;
    font-size: 18px;
    color: #F9D308;
    border: 2px solid #F9D308;
    border-radius: 34px;
    background-color: transparent;
    font-weight: 600;
    transition: all 0.3s cubic-bezier(0.23, 1, 0.320, 1);
    overflow: hidden;
}
.btn_anadusu_gestion_usuarios::before {
    content: '';
    position: absolute;
    inset: 0;
    margin: auto;
    width: 50px;
    height: 50px;
    border-radius: inherit;
    scale: 0;
    z-index: -1;
    background-color: #F9D308;
    transition: all 0.6s cubic-bezier(0.23, 1, 0.320, 1);
}
.btn_anadusu_gestion_usuarios:hover::before {
    scale:10;
}
.btn_anadusu_gestion_usuarios:hover {
    color: #212121;
    scale: 1.1;
    box-shadow: 0 0px 20px rgba(193, 163, 98,0.4);
}
.btn_anadusu_gestion_usuarios.active {
    scale: 1;
}
/*CONFIGURACIONES PARA LOS MENUS DE SECCIONES (APARTADOS)*/
#h1_tituloapartado_ventas {
    background: #F9D308;
    float: right;
    width: 80%;
    text-align: center;
    font-family: 'Geismono';
}

.div_cuerpoops_ventas{
    float: left;
    width: 20%;
    height: 100%;
    position: fixed;
    background: black;
    padding-top: 3vh;
    overflow-y: scroll;
    z-index:2;
    ::-webkit-scrollbar {
    width: 10px;
    }
    ::-webkit-scrollbar-track {
    background: black; 
    }
    ::-webkit-scrollbar-thumb {
    background: red;
    border-radius: 5px;
    border: 1px solid black;
    }
}
#icon_venta_venta {
    color: white;
    font-size: 10vh;
}
.div_opcion_venta {
    width: 100%;
    display: flex;
    flex-wrap: wrap;
    flex-direction: column;
}
.div_redirect_venta {
    text-align: center;
    width: 100%;
    flex: 1 1 auto;
    cursor: pointer;
}
.p_redirect_venta {
    color: white;
    border-bottom: 2px solid white;
}
.div_cont_nav_ventas {
    background: lightgray;
    color: black;
    position: relative;
    width: 100%;
}
.ico_ham_ventas {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}
#icon_set_ventas {
    font-size: 30px;
}


/*Apartado para dispositivos moviles*/
@media(max-width: 768px){
/*CABECERA*/
    .bus_cabecera {
        margin-top: 1vh;
        margin-left: 3vh;
        display: inline-flex;    
    }
    .img_lupa_cabecera {
        margin-top: 1vh;    
        height: 5vh;
    }
    .i_cabecera {
        height: 5vh;
        width: 25vh;
        overflow-y: hidden;
    }
    #icon_cabecera_principal {
        display: none;
    }
    #li_solomovil_principal {
        display: block;
    }
    .ico_ham {
        display: flex;
    }
    .lis_nav_cabecera {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 0;
        transition: height 1s ease;
    }
    .lis_nav_cabecera.active {
        height: 236px;
    }
    .lis_nav_cabecera li {
        border-bottom: 1px solid #555;
    }
/*CUERPO PRINCIPAL*/
    #p_conocenos_principal {
        font-size: 5vh;
    }
    .div_granoarena_principal{
        padding: 5vh;
        text-align: center;
    }
    .div_granoarena_principal h2 {
        font-size: 30px;
        font-family:serif; 
    }
    #hr_granoarena_principal {
        height: 15px;
        width: 100%;
        
    }
    .p_granoarena_principal {
        font-size: 10px;
        padding-left: 1px;
        padding-right: 1px;
        font-family: 'Merriweather';
    }
    .img_granoarena_principal {
        margin: 10px;
        height: 125px;
        width: 125px;
    }
    .a_redsocial_principal {
        margin-top: 5vh;
        color: black;
        font-size: 3vh;
    }
    .a_redsocial_principal:hover {
        color: red;
    }
    .font_redsocial_principal {
        display: none;
    }
    .div_social_principal {
        height: 100px;
    }
    #p_servicios_principal {
        font-size: 4vh;
    }  
    .div_servicios_principal {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .img_servicios_principal {
        height: 30vh;
        width: 100%;
    }
    .div_txtimg_principal {
        font-size: 16px;
        margin-top: 12vh;
    }
    .div_txtimg1_principal {
        font-size: 16px;
        margin-top: 30px;
        margin-top: 12vh;
    }
    .div_materialservicio_principal {
        height:auto;
    }
    .div_promociones_principal {
        margin-top: 0;
    }
    .img_promociones_principal {
        margin: 10px;
        height: 100%;
        width: 80%;
    }
    #font_promo_principal {
        font-size: 4vh;
    }
    #p_promocionestxt_principal {
        margin: 2rem;
        font-size: 2vh;
    }
    .footer {
        height: 11vh;
    }
    .img_footer_principal {
        height: 10vh;
    }
    
/*INICIO SESION*/
    .div_contenedor_inises {
        margin-top: 45%;
    }
    .form_inises {
        width: 100%;
        max-width: 200px;
        height: 100%;
        max-height: 300px;
    }
    .form_inises a {
        margin-bottom: 10px; 
    }
    .form_inises input {
        margin-bottom: 10px;
    }
    
/*PUNTO DE VENTA MENU*/
    .main_menupventa {
        background: white;
    }
    .ico_ham_pventa {
        display: flex;   
    }
    .div_perfil_pventa {
        position: relative;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 0;
        width: 0;
        transition: height 1s ease;
        text-align: center;
        width: 100%;
    }
    .div_perfil_pventa.active {
        width: 100%;
        height: 750px;
    }
    .div_perfpc_pventa {
        position: relative;
        padding-left: 90px;
    }
    .div_cuerpoprin_pventa {
       
        width: 100%;
        background: white;
    }
    #h1_menuadmin_pventa {
        font-size: 25px;
        align-content: center;
    }
    .p_btns_pvetna {
        display: none;
    }
    .accs_clas_pventa {
        width: 180%;
    }
    .btn_cerrses_pventa {
        display: none;
    }
    .btn_cerrarses_movil_pventa {
        display: block;
        width: 6.5em;
        height: 2.3em;
        margin: 0.5em;
        background: red;
        color: white;
        border: none;
        border-radius: 0.625em;
        font-size: 20px;
        font-weight: bold;
        cursor: pointer;
        position: relative;
        z-index: 1;
        overflow: hidden;     
    }
    /*VENTA MENU*/
    .div_cuerpoprin_ventas {
        width: 100%;
        flex-direction: column;
    }
    #h1_tituloapartado_ventas {
        float: none;
        width: 100%;
    }
    .div_carrosinputs_ventas {
        margin-bottom: 50px;
    }
    .div_prin_cantflet_ventas div label {
        font-size: 2rem;
    }
    
/*CONFIGURACIONES PARA LOS MENUS DE SECCIONES (APARTADOS)*/
    .ico_ham_ventas {
        display: flex;
    }
    .div_cuerpoops_ventas {
        position: fixed;
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 0;
        width: 0;
        transition: width .5s ease;
        text-align: center;
        height: 100%;
        
    }
    .div_cuerpoops_ventas.active {
        width: 50%;
        height: 100%;
      
    }
    #icon_venta_venta {
        font-size: 8vh;
    }
    .div_redirect_venta {
        flex: 1 1 auto;
        
    }
    
}