/*FUENTES*/
@font-face {
    font-family: 'Merriweather';
    src: url(../fuentes/Merriweather-Regular.ttf) format('truetype');
}
/*CONFIGURACIONES HTML*/

/*Apartado para pc*/
    /*CABECERA*/
* {
    padding: 0;
    margin: 0;
}
.cabecera {
    background: #F9D308;
}
.p_cabecera {
    display: flex;
    align-items: flex-start;
}
.logo_animado {
    height: 10vh;
    vertical-align: top;
    margin: 1vh; 
}
.bus_cabecera {
    margin-left: 120vh;
    
}
.btn_buscar_cabecera{
    background: none;
    border: none;
    margin-top: 2vh;
}
.img_lupa_cabecera {
    height: 50px;
}
.img_lupa_cabecera:hover {
    filter: drop-shadow(4px 2px 1px white);
}
.i_cabecera {
    height: 5vh;
    width: 300px;
    border-radius: 10px;
    vertical-align: top;
    margin-top: 3vh;
    font-size: 20px;
}
.bar_nav_cabecera {
    background: #333;
    color: white;
    position: relative;
}
.lis_nav_cabecera {
    list-style: none;
    padding: 0;
    margin: 0;
    display: flex;
}
.lis_nav_cabecera li {
    position: relative;
}
.lis_nav_cabecera a{
    display: block;
    text-decoration: none;
    color: white;
    padding: 10px 20px;
}
.lis_nav_cabecera a:hover {
    background: #555;
}
.ico_ham {
    display: none;
    cursor: pointer;
    flex-direction: column;
    gap: 5px;
    padding: 10px 20px;
}
.ico_ham span {
    display: block;
    width: 25px;
    height: 3px;
    background: white;
    transition: 0.3s;
}

/*CUERPO PRINCIPAL*/
.main {
    min-height: 1000px;
}
 
.div_img_principal {
    background: #333;
    padding: 0;
}
.img_ini_principal {
    width: 100%;
}
.div_conocenos_principal {
    background: white;
}
#p_conocenos_principal {
    font-size: 10vh;
    font-family: 'Merriweather';
    text-shadow: 1px 1px 10px black;
    text-align: center;
    background: #F9D308;
    border-bottom: 2px dashed black;
}
.div_granoarena_principal{
    padding: 5vh;
    text-align: center;
}
.div_granoarena_principal h2 {
    font-size: 70px;
    font-family:serif; 
}
#hr_granoarena_principal {
    height: 50px;
    width: 100%;
    border: none;
}
.p_granoarena_principal {
    font-size: 25px;
    padding-left: 30px;
    padding-right: 30px;
    font-family: 'Merriweather';
    text-align: justify;
    hyphens: auto;
}
.img_granoarena_principal {
    height: 30vh;
    width: 30vh;
    margin: 50px;
}
.div_redsocial_principal {
    width: 100%;
    min-height:200px;
    background: lightgray;
    display: flex;
    flex-wrap: wrap;
}
.div_social_principal {
    height: 120px;
    border: 1px solid black;
    flex:1 0 160px;
    margin: 10px;
    margin-top: 6vh;
}
.icons_social_principal{
    font-size: 10vh;
    margin-top: 2vh;
}
.div_insta_principal {
    position: relative;
    transition: transform 0.3s ease;
}
.div_insta_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background: linear-gradient(90deg,#FFC800,#FE0C4E,#FD0188,#FC01CB,#AC07F0);
    filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.div_insta_principal:hover::before {
    opacity: 1;
}
.div_insta_principal:hover {
    transform: scale(1.05);
    border: none;
}
.div_x_principal {
    position: relative;
    transition: transform 0.3s ease;
}
.div_x_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background: linear-gradient(90deg,white,lightgray,darkgray,gray,black);
    filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.div_x_principal:hover::before {
    opacity: 1;
}
.div_x_principal:hover {
    transform: scale(1.05);
    border: none;
}
.div_face_principal {
    position: relative;
    transition: transform 0.3s ease;
}
.div_face_principal::before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    z-index: -1; 
    background: linear-gradient(90deg,white,lightblue,blue,darkblue);
    filter: blur(10px); 
    opacity: 0;
    transition: opacity 0.3s ease;
}
.div_face_principal:hover::before {
    opacity: 1;
}
.div_face_principal:hover {
    transform: scale(1.02);
    border: none;
}
.p_social_principal {
    display:flex;
    flex-direction:row;
    
}
.a_redsocial_principal {
    margin-top: 5vh;
    color: black;
}
.a_redsocial_principal:hover {
    color: red;
}
.font_redsocial_principal {
    font-family: 'Merriweather';
    margin-top: 2vh;
}

.div_materialservicio_principal {
   height: 450px;
}
#p_servicios_principal {
    font-size: 7vh;
    font-family: 'Merriweather';
    text-shadow: 1px 1px 10px black;
    text-align: center;
    background: #F9D308;
    padding: 15px;
}
.div_servicios_principal {
    height: 300px;
    width: 100%;
    display: grid;
    grid-template-columns: repeat(3,1fr);
    grid-auto-flow: repeat (1,1fr);
}
.img_servicios_principal {
    width: 100%;
    display: block;
}

.img_novedades_principal {
    width: 100%;
    height: 49vh;
    grid-row: 1 / 3;
    grid-column: 1 / 2;
    background: url(../imagenes/Novedades.jpg);
}
.div_txtimg_principal {
    font-family: 'Merriweather';
    text-align: center;
    margin-top: 35%;
    font-size: 50px;
    color: white;
}
.div_txtimg1_principal {
    font-family: 'Merriweather';
    text-align: center;
    margin-top:5vh;
    font-size: 50px;
    color: white;
}
.img_tienda_principal {
    width: 100%;
    height: 49vh;
    grid-row: 1 / 3;
    grid-column: 2 / 3;
    background: url(../imagenes/Tienda.jpg);
}
.img_viajesflete_principal {
    width: 100%;
    height: 25vh;
    grid-row: 1 / 2;
    grid-column: 3 / 4;
    background: url(../imagenes/Viajes.jpg);
}
.img_rentamaquina_principal {
    width: 100%;
    height: 24vh;
    grid-row: 2 / 3;
    grid-column: 3 / 4;
    background: url(../imagenes/Renta.jpeg);
}
.div_promociones_principal {
    display: flex;
    flex-wrap: wrap;
}
.flex_promociones_principal {
    flex: 1 1 100px; 
    margin: 10px;
    
}
.img_promociones_principal {
    
    margin: 50px;
}
#font_promo_principal {
    font-family: 'Merriweather';
    font-size: 30px;
    text-align: center;
    
}
#p_promocionestxt_principal {
    margin:5rem;
    text-align: justify;
    font-size: 3vh;

    
}

/*Apartado para dispositivos moviles*/
@media(max-width: 600px){
/*CABECERA*/
    .bus_cabecera {
        margin-top: 1vh;
        margin-left: 3vh;
        display: inline-flex;    
    }
    .img_lupa_cabecera {
        margin-top: 1vh;    
        height: 5vh;
    }
    .i_cabecera {
        height: 5vh;
        width: 25vh;
        overflow-y: hidden;
    }
    .ico_ham {
        display: flex;
    }
    .lis_nav_cabecera {
        display: flex;
        flex-direction: column;
        overflow: hidden;
        height: 0;
        transition: height 2s ease;
    }
    .lis_nav_cabecera.active {
        height: 236px;
    }
    .lis_nav_cabecera li {
        border-bottom: 1px solid #555;
    }
/*CUERPO PRINCIPAL*/
    #p_conocenos_principal {
        font-size: 5vh;
    }
    .div_granoarena_principal{
        padding: 5vh;
        text-align: center;
    }
    .div_granoarena_principal h2 {
        font-size: 30px;
        font-family:serif; 
    }
    #hr_granoarena_principal {
        height: 15px;
        width: 100%;
        
    }
    .p_granoarena_principal {
        font-size: 10px;
        padding-left: 1px;
        padding-right: 1px;
        font-family: 'Merriweather';
    }
    .img_granoarena_principal {
        margin: 10px;
        height: 125px;
        width: 125px;
    }
    .a_redsocial_principal {
        margin-top: 5vh;
        color: black;
        font-size: 3vh;
    }
    .a_redsocial_principal:hover {
        color: red;
    }
    .font_redsocial_principal {
        display: none;
    }
    .div_social_principal {
        height: 100px;
    }
    #p_servicios_principal {
        font-size: 4vh;
    }
    
    .div_servicios_principal {
        display: flex;
        flex-direction: column;
        height: auto;
    }
    .img_servicios_principal {
        height: 30vh;
        width: 100%;
    }
    .div_txtimg_principal {
        font-size: 16px;
        margin-top: 12vh;
    }
    .div_txtimg1_principal {
        font-size: 16px;
        margin-top: 30px;
        margin-top: 12vh;
    }
    .div_materialservicio_principal {
        height:auto;
    }
    .div_promociones_principal {
        margin-top: 0;
    }
    .img_promociones_principal {
        margin: 10px;
        height: 100%;
        width: 80%;
    }
    #font_promo_principal {
        font-size: 4vh;
    }
    #p_promocionestxt_principal {
        margin: 2rem;
        font-size: 2vh;
    }
    
}